.nameHeading {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header {
  display: none;
}
body > footer, body > header, body > main {
  padding: 0 !important;
}
a:link, a:visited, a:active {
  color: #fff;
  text-decoration: none !important;
}
a:hover {
  color: #ff201e;
}
.social_divider {
  padding: 0 7px 0 7px;
  color: #ff201e;
}
#myButton {
  background-color: #000;
  border: 1px solid red;
  color: #B3B9C5;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
